Options All -Indexes
Options +FollowSymlinks
RewriteEngine On
RewriteRule	^deconnexion/?$	pages/deconnexion.php	[L]
RewriteRule	^pronostics/?$	pages/pronostics.php	[L]
RewriteRule ^pronostics/([0-9]+)$    pages/pronostics.php?p=$1    [L]